/*ПЕРЕМЕННЫЕ ЦВЕТОВ*/
$basic:#28285A;
$header:#2B2B37;
$text: #4E4E4E;
$footer:#272A35;
/*ПЕРЕМЕННЫЕ ШРИФТОВ*/
%ubuntu-400 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

%ubuntu-500 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
%ubuntu-700 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}


