@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'media';

.header {

&__inner{
    border-bottom: 1px solid #E5E5E5;
    &.shadow {
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    
    }
}

    &__menu {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        max-height: 56px;
        align-items: center;
    }

    &__slider {
        padding-bottom: 100px;
    }
}



.swiper-wrapper {
    overflow: visible;
}

.swiper-slide {
    position: relative;

    &__title {
        content: "";
        position: absolute;
        width: 700px;
        height: 125px;
        background: rgba(99, 99, 99, 0.774);
        top: 115px;
        left: 0px;
        z-index: 20;
        padding: 63px 85px;
        font-size: 48px;
        line-height: 62px;
        color: #fff;




    }
}

.menu {
    &__list {
        display: flex;
    }

    &__link {
        color: $header;
        font-size: 16px;
        line-height: 18px;
    }

    &__phone {
        display: flex;
        flex-direction: column;
    }

    &__phone-number {
        color: $header;
        @extend%ubuntu-700;
        font-size: 20px;
        line-height: 30px;
    }

    &__order-call {
        @extend%ubuntu-400;
        font-size: 12px;
        line-height: 18px;
        text-decoration: underline;
        text-align: right;
        color: $header;
    }

    &__item+.menu__item {
        padding-left: 80px;
    }
}

.product-groups {
    background-color: $basic;
    padding-bottom: 100px;

    &__title {
        color: #fff;
    }

    &__list {
        display: grid;
        grid-template-columns: (1fr 1fr 1fr 1fr);
        grid-row-gap: 60px;
        grid-column-gap: 30px;
        justify-content: space-between;
    }

    &__item {
        &:nth-child(13) {
            grid-column-start: 2;
            grid-column-end: 2;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        margin-bottom: 20px;

        svg {
            width: 70px;
            height: 70px;
        }
    }


    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #fff;

    }
}

.popular-products {
    padding-bottom: 100px;

    &__list {
        display: grid;
        grid-template-columns: (1fr 1fr 1fr 1fr);
        grid-row-gap: 60px;
        grid-column-gap: 30px;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__image {
        margin-bottom: 20px;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: $header;
        margin-bottom: 20px;

    }

    &__item-bottom {
        display: flex;
        justify-content: space-between;
    }

    &__price {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: $header;
    }

    &__link {
        font-weight: 700;
        @extend%ubuntu-700;
        font-size: 18px;
        line-height: 27px;
        color: $basic;
        text-decoration: underline;
    }

    &__bottom {
        display: flex;
        justify-content: center;
    }

    &__all {
        padding: 12px 115px 12px 85px;
        background-color: $basic;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        position: relative;

        &::before {
            content: "";
            background-image: url('../images/icons/arrow-all-product.png');
            position: absolute;
            top: 25px;
            right: 90px;
            width: 18px;
            height: 16px;

        }
    }

}

.about-company {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: $basic;
    color: #fff;

    &__title {
        text-align: left;
        font-weight: 500;
        font-size: 48px;
        line-height: 62px;
    }

    &__subsection {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__wrapper {
        max-width: 630px;
    }

    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }

    &__subtitle {
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &__list {
        list-style: disc;
        padding-left: 20px;
    }

    &__item {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }

}

.partners-slider {
    margin-bottom: 100px;
}

.swiper-button-prev.swiper-partners-button-prev::after,
.swiper-button-next.swiper-partners-button-next::after {
    display: none;
}

.swiper-button-prev.swiper-partners-button-prev {
    border: none;
    background-color: inherit;
    background-image: url('../images/slider-partners/arrow-pre.svg');
    width: 20px;
    height: 30px;
    position: absolute;
    content: "";
    top: 130px;
    left: 0;
}

.swiper-button-next.swiper-partners-button-next {
    border: none;
    background-color: inherit;
    background-image: url('../images/slider-partners/arrow-next.svg');
    width: 20px;
    height: 30px;
    position: absolute;
    content: "";
    top: 130px;
    right: 0;

}

.our-advantages {
    background-color: $basic;
    padding-bottom: 100px;
    color: #fff;

    &__title {
        margin-bottom: 60px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        padding-left: 80px;
        position: relative;
        max-width: 280px;
    }

}

.our-advantages__item.order::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -30px;
    background-image: url('../images/our-advantages/zakaz.svg');
    width: 80px;
    height: 80px;


}

.our-advantages__item.delivery::before {
    content: '';
    position: absolute;
    left: -20px;
    top: -30px;
    background-image: url('../images/our-advantages/dostavka.svg');
    width: 90px;
    height: 80px;


}

.our-advantages__item.assembly::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -30px;
    background-image: url('../images/our-advantages/tools.svg');
    width: 80px;
    height: 80px;


}

.our-advantages__item.connect::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -30px;
    background-image: url('../images/our-advantages/connect.svg');
    width: 80px;
    height: 80px;


}

.our-advantages__item+.our-advantages__item {
    &::after {
        content: '';
        position: absolute;
        left: -130px;
        top: -10px;
        background-image: url('../images/our-advantages/arrow.svg');
        width: 30px;
        height: 40px;
    }

}

.map {
    &__inner {
        position: relative;

        iframe {
            width: 100%;
            height: 782px;
        }
    }


    &__adress {
        padding: 53px 35px;
        position: absolute;
        background-color: #fff;
        content: '';
        top: 100px;
        right: 350px;
        width: 440px;
        height: 530px;
        z-index: 100;
        box-shadow: -19px 22px 7px -6px rgba(34, 60, 80, 0.2);
    }

}

.adress {

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 16px;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__email {
        margin-bottom: 30px;
    }

    &__phone {
        font-style: normal;
        color: $header;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 60px;
    }

    &__order {
        padding: 20px 115px 20px 85px;
        background-color: $basic;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        position: relative;

        &::before {
            content: "";
            background-image: url('../images/icons/arrow-all-product.png');
            position: absolute;
            top: 25px;
            right: 80px;
            width: 18px;
            height: 16px;

        }
    }

}

.footer {
    padding-top: 50px;
    background-color: $footer;

    &__menu {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        max-height: 56px;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        color: #fff;
    }

    &__link-github {
        color: #fff;
    }

}

.footer-menu {

    &__list {
        display: flex;
    }

    &__link {
        color: #fff;
        font-size: 16px;
        line-height: 18px;
    }

    &__phone {
        display: flex;
        flex-direction: column;
    }

    &__phone-number {
        color: #fff;
        @extend%ubuntu-700;
        font-size: 20px;
        line-height: 30px;
    }

    &__order-call {
        @extend%ubuntu-400;
        font-size: 12px;
        line-height: 18px;
        text-decoration: underline;
        text-align: right;
        color: #fff;
    }

    &__item+.footer-menu__item {
        padding-left: 80px;
    }
}

.catalog {
    padding-bottom: 100px;

    &__title {
        padding-top: 0;
        text-align: left;
    }

    &__columns {
        display: flex;

        justify-content: space-between;
    }
}

.aside {
    width: 300px;
    padding: 10px 20px;
    background-color: #F8F8F8;
}

.nav-item {
    &__header {
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(40, 40, 90, 0.5);
        cursor: pointer;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            background-image: url('../images/icons/arrow-down.svg');
            width: 15px;
            height: 10px;
            top: 6px;
            right: 0px;
        }

        &.active {
            &::before {
                position: absolute;
                content: '';
                background-image: url('../images/icons/arrow-up.svg');
                width: 15px;
                height: 10px;
                top: 6px;
                right: 0px;
            }

        }

    }

    &__list {
        margin-top: 20px;
        margin-bottom: 20px;
        display: none;
    }

    &__list.active {
        display: block;
    }

    &__link {
        color: $header;
        opacity: 0.6;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 2px;

        &:hover {
            border-bottom: 1px solid rgba(40, 40, 90, 0.5);
            opacity: 1;
        }

    }

}



.product {
    &__cards {
        display: grid;
        grid-template-columns: (1fr 1fr 1fr);
        grid-row-gap: 60px;
        grid-column-gap: 30px;

    }
    &__card{
        border: 1px solid #E5E5E5;
        box-shadow: -13px 13px 14px -10px rgba(34, 60, 80, 0.2);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        height: 400px;
    }
    

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        height: 50px;
        overflow: hidden;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__more,
    &__price {
        text-decoration: underline;
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        color: $basic;
    }

    &__price {
        padding-right: 30px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            background-image: url('../images/icons/arrow-price.svg');
            width: 10px;
            height: 15px;
            top: 8px;
            right: 10px;
        }

    }
}

.product-item {
    padding-bottom: 100px;

    &__columns {
        display: flex;
    }

    &__description {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 36px;
        line-height: 47px;
        color: $basic;
    }

    &__item {
        margin-bottom: 15px;
        display: flex;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;

        & span {
            width: 300px;
        }

        & span:last-child {
            padding-left: 30px;
            opacity: 0.6;
        }
    }
    &__btn{
        width: 300px;
        text-align: center;
        padding: 12px 0;
        background-color: $basic;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
    }
}